*{
    margin: 0;
    padding: 0%;
}
#header{
    height: 100vh;
    background-image: url("pexels-lukas-349610.jpg");
    background-position: center;
    background-size: cover;
    

}
.container{
    margin-right: 100px;
    margin-left: 100px;
    
}
.container img{
    margin-top: 10px;
    width: 100px;
}
.header-text{
    max-width: 350px;
    margin-top: 140px;
}

h1{
    font-size: 34px;
}
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin: 15px 0;
}
.common-btn{
    
    padding: 20px 18px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
    
}
.common-btn p{
 font-size: 15px;
 
 line-height: 18px;
 color: #777;

}
.header-text button{
    margin-top:20px ;
    margin-bottom: 60px;
}

.line-1{
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color:#f67c92;
}
.line-2{
    width: 80px;
    height: 1px;
    display: inline-block;
    background-color:#f67c92;
}
.line-3{
    width: 60px;
    height: 1px;
    display: inline-block;
    background-color:#f67c92;
}
.line{
    line-height: 8px;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f67c92;
    z-index: 1;
    transition: 0.5s;
}
nav ul li {
list-style: none;
margin: 50px 20px;

}
nav ul li a{
    text-decoration: none;
    color: white;
}
#menuBTN{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}
/* about */
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
    text-align: right;
}
.about-text{
    max-width: 500px;
    margin-right: 100px;
    font-size: 20px;
    display: inline-block;
}
.about-text h3{
    margin: 50px 0 10px;
    font-size: 20px;
    
}
.about-text h3{
  
   
    
}
/* features */
#features{
    padding-top: 50px;
    padding-bottom: 50px;
}
.feature-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.feature-col{
    
    flex-basis: 25%;
    text-align: center;
}
.feature-col img{
    width: 80px;
}
.feature-col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}
.feature-btn{
    padding: 20px;
    width: 180px;
    margin: 0 auto;
  
}
/* courses */
#courses{
    padding: 100px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.course-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.course-right-col{
    flex-basis: 50%;
}
.course-right-col img{
    width: 100%;
}
.course-left-col{
    flex-basis: 50%;
}
.course-text{
    max-width: 350px;
}
.course-text button{
    margin: 30px 0;
    
}
.about-text button{
    margin: 30px 0;
}

/* contact */
.contact-row{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   

}
.contact-left-col,.contact-right-col{
    flex-basis: 50%;
}
.contact-right-col img{
width: 100%;
}
form{
    max-width: 350px;
    margin: 30px 0;
}
form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
    text-align: center;
}
.btn-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
#contact .common-btn{
    flex-basis: 48%;
    padding: 18px 0;
    
    

}
/* Footer */
#footer{
    padding: 50px 0 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}
.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.link-title h4{
    font-size: 13px;
    color: rgb(251, 137, 185);
}
.footer-info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img{
    width: 100px;
}
.footer-logo button{
    padding: 12px 38px;
    margin-top: 20px;
    font-size:  10px;
}
.copyright-text,.footer-logo{
    flex-basis: 40%;
}
/* social icons */
.social-icons{
    position: fixed;
    top: 50%;
    left: 0;
    width: 50px;
    transform: translateY(-50%);
    z-index: 1;
}
.social-icons img{
    display: block;
    width: 20px;
    margin:0 auto 20px;

    cursor: pointer;
} 
@media screen and (max-width:770px){
    #header{
        background-image: none;
    }
    
    .container{
        margin-right: 50px;
        margin-left: 50px;
        
    }
    
    .header-text{
        
        margin-top: 100px;
    }
    h1{
        font-size: 25px;
    }
    .container img{
        margin-top: 27px;
        width: 70px;
    }
    #menuBTN{
        width: 40px;
       
        right: 50px;
        
        
    }
    .common-btn{
        padding: 10px 16px;
        
    }
    .social-icons img{
       
        width: 14px;
        margin: 15px auto;
        
    } 
    .about-left-col{
        flex-basis: 100%;
    }
    .about-right-col{
        flex-basis: 100%;
    }
    .about-text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    .about-text h2{
        
        font-size: 28px;
      
    }
    .feature-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .course-left-col,.course-right-col{
        flex-basis: 100%;
    }
    .course-right-col img{
        width: 100%;
        margin-top: 70px;
    }
    .contact-left-col,.contact-right-col{
        flex-basis: 100%;
    }
    .contact-right-col img{
        width: 100%;
    }
    .footer-left-col,.footer-right-col{
        flex-basis: 100%;
        
    }
    .link-title{
        flex-basis: 50%;
        margin-bottom: 20px;
    }
}

